<div class="sidebar-outer">
        <a class="logo d-flex align-items-center" routerLink="/pages/membership" (click)="closeSubMenus()" *ngIf="settings.theme.sidebarIsFixed" style="background: white">
            <img src="assets/img/app/logo_completo.png" width="180px">
        </a>
    <!--<a class="logo d-flex align-items-center" routerLink="/" (click)="closeSubMenus()" *ngIf="settings.theme.sidebarIsFixed">
        <span class="start">start</span><span class="ng">NG</span>
    </a> -->
    <app-vertical-menu [menuItems]="menuItems">></app-vertical-menu>    
</div>